@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..800&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@font-face {
  font-family: "Renogare Soft";
  src: url("RenogareSoft-Regular.woff2") format("woff2"),
    url("RenogareSoft-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Rubik, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold tracking-wide text-nord8;
}
.mti {
  font-family: "Material Icons";
  vertical-align: top;
}
.scale-pixelated {
  image-rendering: pixelated;
}
.scale-unset {
  image-rendering: unset;
}
:root {
  color-scheme: dark;
}
.tippy-box {
  @apply bg-nord2 text-white;
}
.tippy-arrow {
  @apply text-nord2;
}
