:root {
  color-scheme: dark;
  background-color: rgb(var(--m3-scheme-background));
  color: rgb(var(--m3-scheme-on-background));
  accent-color: rgb(var(--m3-scheme-primary));

  --m3-font: Inter, system-ui, sans-serif !important;
  --m3-scheme-primary: 151 213 166;
  --m3-scheme-on-primary: 0 57 27;
  --m3-scheme-primary-container: 19 81 45;
  --m3-scheme-on-primary-container: 178 241 192;
  --m3-scheme-inverse-primary: 47 106 67;
  --m3-scheme-secondary: 182 204 184;
  --m3-scheme-on-secondary: 34 53 39;
  --m3-scheme-secondary-container: 56 75 60;
  --m3-scheme-on-secondary-container: 210 232 212;
  --m3-scheme-tertiary: 162 206 217;
  --m3-scheme-on-tertiary: 1 54 63;
  --m3-scheme-tertiary-container: 33 77 86;
  --m3-scheme-on-tertiary-container: 190 234 246;
  --m3-scheme-error: 255 180 171;
  --m3-scheme-on-error: 105 0 5;
  --m3-scheme-error-container: 147 0 10;
  --m3-scheme-on-error-container: 255 218 214;
  --m3-scheme-background: 16 21 16;
  --m3-scheme-on-background: 223 228 220;
  --m3-scheme-surface: 16 21 16;
  --m3-scheme-on-surface: 223 228 220;
  --m3-scheme-surface-variant: 65 73 65;
  --m3-scheme-on-surface-variant: 193 201 191;
  --m3-scheme-inverse-surface: 223 228 220;
  --m3-scheme-inverse-on-surface: 45 50 45;
  --m3-scheme-outline: 139 147 138;
  --m3-scheme-outline-variant: 65 73 65;
  --m3-scheme-shadow: 0 0 0;
  --m3-scheme-scrim: 0 0 0;
  --m3-scheme-surface-dim: 16 21 16;
  --m3-scheme-surface-bright: 53 58 53;
  --m3-scheme-surface-container-lowest: 10 15 11;
  --m3-scheme-surface-container-low: 24 29 24;
  --m3-scheme-surface-container: 28 33 28;
  --m3-scheme-surface-container-high: 38 43 38;
  --m3-scheme-surface-container-highest: 49 54 49;
  --m3-scheme-surface-tint: 151 213 166;
}
.m3-font-headline-small {
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0;
  font-weight: 400;
}
.m3-font-label-large {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.1;
  font-weight: 500;
}
.m3-font-body-large {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.5;
  font-weight: 400;
}
.m3-font-body-medium {
  font-size: 0.875rem;
  line-height: 1.25rem;
  letter-spacing: 0.25;
  font-weight: 400;
}
@keyframes load {
  0% {
    opacity: 0;
    transform: translate(0, 0.5rem);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

body {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 1rem;
}
.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 2rem;
  height: 2rem;
}
body > #app {
  display: contents;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.m3-container a,
a.m3-container {
  text-decoration: none;
}
